spacy~=3.6.0
nltk~=3.9
text-unidecode~=1.3
requests~=2.32.3
click==8.1.7
osadl_matrix==2024.5.22.10535
pyminr~=0.1.1
scancode-toolkit~=32.3.2
dataclasses-json~=0.6.7
gitignore-parser~=0.1.11
tqdm~=4.66.3
scanoss~=1.19.4